@font-face					{font-family: opensansreg; src: url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'); font-weight: normal; font-smooth: always; -webkit-font-smoothing: antialiased !important;}
div							{float: left;}
textarea						{width: calc(100% - 2px); min-height: 200px; border: 1px solid #cccccc; border-radius: 2px;}
input[type="text"]		{padding: 0 0 0 5px; height: 25px; line-height: 25px; border: 1px solid #cccccc; border-radius: 2px;}
select						{padding: 4px 1px 4px 2px; width: 184px; background: #ffffff; border: 1px solid #cccccc; border-radius: 2px;}
pre							{margin: 0;}

body							{font: normal 18px opensansreg; margin: 5px auto; padding: 0 1px; max-width: 960px; background: #e6e6e6 url(bgs.jpg) repeat; color: #404040; text-shadow: 0px 1px 0px #ffffff;}
	div.searchbox			{width: 100%;}
		div.searchbox .inprow				{width: 100%; height: 25px; margin-bottom: 10px;}
		div.searchbox .inprow:last-child	{margin-bottom: 5px; height: 38px;}
		div.searchbox input[type="text"]	{float: left; width: calc(100% - 108px); border-left: none; border-radius: 0; border-top-right-radius: 2px; border-bottom-right-radius: 2px;}
		div.searchbox select					{float: left; width: calc(100% - 102px); border-left: none; border-radius: 0; border-top-right-radius: 2px; border-bottom-right-radius: 2px;}
		div.searchbox input[type="submit"]{float: left; font: normal 18px opensansreg; margin-right: 3px; width: calc(50% - 3px); height: 38px; border: none; border-radius: 2px; background: #a519ff; color: #ffffff; text-shadow: none; transition: background .3s; -webkit-transition: background .3s;}
		div.searchbox input[type="submit"]:hover{background: #1476cc; cursor: pointer;}
		div.searchbox label					{float: left; font-size: 15px; padding: 0 5px; width: 90px; height: 25px; line-height: 25px; border: 1px solid #cccccc; border-top-left-radius: 2px; border-bottom-left-radius: 2px; background: #f7f7f7;}
		div.searchbox a.button				{width: calc(50% - 3px); margin-left: 3px; padding: 0;}
	div.pagination								{margin: 4px 0 5px 0;}
		div.pagination a						{float: left; margin: 1px 1px 0 0; padding: 0 10px; height: 28px; line-height: 28px; background: #a519ff; text-align: center; border-radius: 2px; color: #ffffff; text-shadow: none; transition: background .3s; -webkit-transition: background .3s;}
		div.pagination a:hover				{background: #1476cc; cursor: pointer;}
		div.pagination em						{float: left; margin: 1px 1px 0 0; padding: 0 10px; height: 28px; line-height: 28px; background: #404040; text-align: center; border-radius: 2px; color: #ffffff; text-shadow: none; cursor: default;}
		div.pagination span					{float: left; margin: 1px 1px 0 0; padding: 0 10px; height: 28px; line-height: 28px; background: #404040; text-align: center; border-radius: 2px; color: #ffffff; text-shadow: none; cursor: default;}
	div.field									{width: 100%;}
	div.field[name="wholecode"]			{font-size: 13px; padding: 0 10px; width: calc(100% - 22px); max-width: calc(100% - 22px); overflow: auto; background: #f7f7f7 url(codebg.jpg) repeat; border: 1px solid #cccccc; border-radius: 2px;}

a								{text-decoration: none; color: #630f99; transition: color .3s, background .3s; -webkit-transition: color .3s, background .3s;}
a:hover						{color: #1167b3;}
a.imglink					{float: left; padding: 0; margin: 1px 0 0 1px; width: calc(50% - 1px); height: 38px;}
a.imglink[name="edit"]	{background: #a519ff url(icon_edit.png) no-repeat; background-position: center center;}
a.imglink[name="edit"]:hover	{background: #1476cc url(icon_edit.png) no-repeat; background-position: center center;}
a.imglink[name="del"]	{background: #f22424 url(icon_remove.png) no-repeat; background-position: center center;}
a.imglink[name="del"]:hover	{background: #1476cc url(icon_remove.png) no-repeat; background-position: center center;}
a.button						{float: left; margin: 0; padding: 0 10px; height: 38px; line-height: 38px; background: #a519ff; text-align: center; border-radius: 2px; color: #ffffff; text-shadow: none; transition: background .3s; -webkit-transition: background .3s;}
a.button:hover				{background: #1476cc; cursor: pointer;}
input[type="submit"]		{float: left; font: normal 18px opensansreg; margin-right: 1px; padding: 0 10px; height: 38px; border: none; border-radius: 2px; background: #a519ff; color: #ffffff; text-shadow: none; transition: background .3s; -webkit-transition: background .3s;}
input[type="submit"]:hover{background: #1476cc; cursor: pointer;}

h1								{font-size: 44px; margin: 0;}
hr								{margin: -7px 0 15px 0; width: 100%; height: 1px; border: none; background: #cccccc; box-shadow: 0px 1px 0px #f7f7f7;}

div.dtable								{width: calc(100% - 2px); border: 1px solid #cccccc; border-radius: 2px; margin-top: 5px;}
	div.drow							{width: 100%; font-size: 13px; line-height: 40px; border-bottom: 1px solid #cccccc; background: #f0f0f0; transition: box-shadow .3s, background .3s; -webkit-transition: box-shadow .3s, background .3s;}
	div.drow:first-child				{font-size: 16px; line-height: 50px; background: #f7f7f7;}
	div.drow:last-child					{border-bottom: none;}
	div.drow[name="gistbox"]:hover		{background: #fafafa; box-shadow: 0px 0px 3px #b3b3b3; cursor: pointer;}
		div.dcol									{padding: 0 3px; max-height: 40px; overflow: hidden; border-right: 1px solid #cccccc; box-shadow: inset 0px 1px 0px #f7f7f7;}
		div.drow:first-child div.dcol	{max-height: 50px;}
		div.dcol:last-child				{border-right: none; padding: 0; text-align: center;}

div.dtable div.dcol:nth-child(1)		{width: calc(13% - 7px); max-width: calc(13% - 7px);}
div.dtable div.dcol:nth-child(2)		{width: calc(40% - 7px); max-width: calc(40% - 7px);}
div.dtable div.dcol:nth-child(3)		{width: calc(29% - 7px); max-width: calc(29% - 7px);}
div.dtable div.dcol:nth-child(4)		{width: 18%; max-width: 18%;}